.projects{
    padding-top: 8rem;
    text-align: center;
}
.projectText{
    text-align: center;
    color: brown;
    font-size: 3rem;
}
.projectList{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 4rem auto;
}
.projectcard{
    width: 500px;
    background-color: rgb(250, 220, 170);
    color: brown;
    border-radius: 2rem;
    padding-bottom: 1rem;
    box-shadow: rgba(114, 113, 113) 0px 1px 3px, rgba(117, 116, 116) 0px 1px 2px;
}
.projectImg>img{
    width: 100%;
    border-radius: 2rem 2rem 0 0 ;
}
.projectDesc{
    border-top: 2px solid rgb(10, 20, 20);
}
.projectDescription>h2{
    font-size: 2rem;
    color: rgb(40, 40, 40);
    border-bottom: 2px solid rgb(10, 20, 20);
}
.projectDescription>p{
    font-size: 1.4rem;
    color: rgb(60, 60, 60);
    border-bottom: 2px solid rgb(10, 20, 20);
}
.projectBtn{
    display: flex;
    margin: auto;
    margin-top: 0.4rem;
}
.projectBtn>button{
    font-size: 1.5rem;
    padding: 0.4rem 1.3rem;
    background-color: brown;
    color: bisque;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
.projectBtn>button:hover{
    background-color: rgb(180, 60, 60);
}
.techProject{
    display: flex;
    gap: 0.4rem;
    padding: 0.4rem 0 0.4rem 0.4rem;
    border-bottom: 2px solid rgb(10, 20, 20);
}
.techProject>div>p{
    font-weight: bold;
    color: #282828;
    width: 7rem;
}
.techProject>div{
    display: flex;
    margin-right: 0.2rem;
    gap: 0.6rem;
    flex-wrap: wrap;
}
.techProject>div>div{
    background-color: rgb(160, 40, 40);
    color: bisque;
    padding: 0 0.8rem;
    border-radius: 1rem;
}
@media screen and (max-width:1200px){
    .projectList{
        grid-template-columns: 1fr;
        width: max-content;
    }
    .projectcard{
        width: 700px;
    }
}
@media screen and (max-width:800px){
    .projectcard{
        width: 400px;
    }
    .projectDesc>div>h2{
        font-size: 1.5rem;
    }
    .projectDesc>div>p{
        font-size: 1.2rem;
    }
    .projectBtn>button{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:450px){
    .projects{
        padding-top: 4rem;
    }
    .projectText{
        font-size: 2rem;
    }
    .projectcard{
        width: 96vw;
    }
    .projectDesc>div>h2{
        font-size: 1.2rem;
    }
    .projectDesc>div>p{
        font-size: 1rem;
    }
    .projectBtn>button{
        font-size: 1rem;
        padding: 0.2rem 0.6rem;
    }
}